<div class="profile-container">
  <div class="about">
    <h1>Hi Welcome to my hut</h1>
    <p>
      I am a fresh graduate with a strong enthusiasm for the field of
      information
      technology. With a solid educational background in Computer Science, I possess extensive knowledge of computer
      systems,
      networks, and software applications.My problem-solving and analytical skills in IT matters are excellent,
      supported by
      effective communication skills, both verbally and in writing. I have a good understanding of front-end
      technologies such
      as HTML, CSS, and JavaScript, and I possess website development skills, particularly using WordPress.
    </p>
    <div class="btn-grup">
      <a href="mailto:toriqkun@gmail.com" class="btn-contact">Contact</a>
      <a href="#"
        download="" class="btn-cv">download CV <i class="fa-solid fa-download"></i></a>
    </div>

    <div class="social-links">
      <a href="https://www.linkedin.com/in/toriq-rosid-24975a21b/" target="_blank"><img src="/assets/img/linkedin.png" alt=""
          srcset="" /></a>
      <a href="https://www.instagram.com/toriqrosid_/" target="_blank"><img src="/assets/img/instagram.png" alt=""
          srcset="" /></a>
      <a href="https://web.facebook.com/ToriqKuN0?locale=id_ID" target="_blank"><img src="/assets/img/facebook.png" alt=""
          srcset="" /></a>
      <a href="https://x.com/Icunn1336341" target="_blank"><img src="/assets/img/twitter.png" alt="" srcset="" /></a>
    </div>
  </div>

  <div class="profile-card">
    <img src="/assets/img/pikachu.jpeg" />
    <h3>Toriq Abdul Rosyid</h3>
    <p>Fullstack Developer</p>
  </div>
</div>

{{> footer}}