<footer class="text-light py-4 mt-5" style="background-color: rgb(81, 80, 80;">
  <div class="container text-center">
    <p class="mb-1" style="color: #000;">
      &copy; 2025 Designed and coded with
      <span style="color: #e25555;">❤️</span>
      by <strong>Toriq Rosid</strong>
    </p>
    <div>
      <a href="https://github.com/toriqkun" target="_blank" class="text-light me-3">
        <i class="bi bi-github" style="font-size: 1.2rem; color: #000;"></i>
      </a>
      <a href="https://www.linkedin.com/in/toriq-rosid-24975a21b/" target="_blank" class="text-light">
        <i class="bi bi-linkedin" style="font-size: 1.2rem; color:#000;"></i>
      </a>
    </div>
  </div>
</footer>